<p>
  Hello Please 
  <%= link_to "Sign In", user_session_path %> 
  or 
  <%= link_to "Sign Up", new_user_registration_path %> 
  to continue
</p>

<p>
  See the gifs portal <%= link_to "Here", images_path %>
</p>
<p>
  Destroy your session <%= link_to "Here", destroy_user_session_path %> 
</p>